node-red-flow/exit-gate.json
[{"id":"738b8376.f759ac","type":"debug","z":"e82eeb8d.5d3038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":765.0000419616699,"y":200.00000953674316,"wires":[]},{"id":"70cfac26.2d3314","type":"switch","z":"e82eeb8d.5d3038","name":"!=msg.motion","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"motion","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":298,"y":57,"wires":[["6d50a86c.57a4c8","7d338535.abea8c"]]},{"id":"6d50a86c.57a4c8","type":"switch","z":"e82eeb8d.5d3038","name":"check ir is triggered","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":540.0000762939453,"y":147.00000095367432,"wires":[["5d19a793.98b598","5aeb6975.9c5078"]]},{"id":"7d338535.abea8c","type":"function","z":"e82eeb8d.5d3038","name":"debounce message","func":"flow.set(\"motion\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":308.99999237060547,"y":99.00000190734863,"wires":[[]]},{"id":"5d19a793.98b598","type":"function","z":"e82eeb8d.5d3038","name":"set-message-log","func":"var date = Date.now()\nvar id = msg.payload.id\nmsg.payload = date+\"/\"+msg.topic+\"/exit/\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":548.5,"y":198,"wires":[["738b8376.f759ac","154e5ea0.ed7811"]]},{"id":"154e5ea0.ed7811","type":"file","z":"e82eeb8d.5d3038","name":"","filename":"/home/pi/log.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":737.01171875,"y":253.68359375,"wires":[["dff9f496.f48288"]]},{"id":"dff9f496.f48288","type":"debug","z":"e82eeb8d.5d3038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":951.01953125,"y":255.00390625,"wires":[]},{"id":"75475f70.51048","type":"mqtt out","z":"e82eeb8d.5d3038","name":"","topic":"pi/2/exit/1","qos":"1","retain":"","broker":"b3f3aeb0.0845e","x":909.0117645263672,"y":36.6328125,"wires":[]},{"id":"5aeb6975.9c5078","type":"function","z":"e82eeb8d.5d3038","name":"mqtt-message","func":"msg.payload =+msg.topic+\"/exit/\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":678.0195388793945,"y":39.00391387939453,"wires":[["75475f70.51048"]]},{"id":"535c7e9d.66024","type":"rpi-gpio in","z":"e82eeb8d.5d3038","name":"","pin":"40","intype":"down","debounce":"25","read":false,"x":93.5,"y":80,"wires":[["70cfac26.2d3314"]]},{"id":"b3f3aeb0.0845e","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.8","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
