node-red-flow/human-counter-dashboard.json
[{"id":"67c6c2ff.061c9c","type":"debug","z":"1e50305d.a3e2f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":120,"wires":[]},{"id":"b489e83.a4d5018","type":"rpi-gpio in","z":"1e50305d.a3e2f","name":"","pin":"40","intype":"down","debounce":"25","read":false,"x":120,"y":80,"wires":[["5b092bfb.0532a4"]]},{"id":"5b092bfb.0532a4","type":"switch","z":"1e50305d.a3e2f","name":"payload !=motion","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"motion","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":80,"wires":[["2d83afb8.42a42"]]},{"id":"2d83afb8.42a42","type":"switch","z":"1e50305d.a3e2f","name":"msg.payload == 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":120,"wires":[["5b80cf68.ef7c5"]]},{"id":"5b80cf68.ef7c5","type":"change","z":"1e50305d.a3e2f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"entrance","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[["67c6c2ff.061c9c","ea9014b0.4a60f8","916a8c7e.65c47","1559b6a5.733539"]]},{"id":"a6b60375.984ca8","type":"ui_template","z":"1e50305d.a3e2f","group":"ba957629.2b4f28","name":"Counter Widget","order":1,"width":"7","height":"6","format":"<div style=\"text-align:center;\">\n<h1>No. Customer in Permise</h1>\n<br/>\n\n<font size={{msg.size}} > {{msg.payload}} </font>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1020,"y":180,"wires":[[]]},{"id":"916a8c7e.65c47","type":"function","z":"1e50305d.a3e2f","name":"set log","func":"var date = Date.now()\nvar createdAt = Date.now();\nvar gate = \"entrance\"\n\nmsg.payload =date+\"/\"+gate+\"/\"+createdAt;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["4df2e94e.11aa28"]]},{"id":"a7a4631b.31f44","type":"mqtt in","z":"1e50305d.a3e2f","name":"","topic":"pi/2/exit/1","qos":"1","datatype":"auto","broker":"53ab3d41.e551b4","x":120,"y":440,"wires":[["6c2c821e.f307cc","6dd8eb5b.e78c74"]]},{"id":"6c2c821e.f307cc","type":"debug","z":"1e50305d.a3e2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":520,"wires":[]},{"id":"4df2e94e.11aa28","type":"file","z":"1e50305d.a3e2f","name":"","filename":"/home/pi/log/entrance-log.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":790,"y":380,"wires":[["656b9bd3.511b54"]]},{"id":"16906cdb.47ee93","type":"function","z":"1e50305d.a3e2f","name":"set count to payload","func":"msg.size = 80\nmsg.payload = msg.payload+\"/50 pax\"\nreturn msg","outputs":1,"noerr":0,"x":760,"y":180,"wires":[["e6bdc88a.c098f8","a6b60375.984ca8"]]},{"id":"e6bdc88a.c098f8","type":"debug","z":"1e50305d.a3e2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":140,"wires":[]},{"id":"656b9bd3.511b54","type":"debug","z":"1e50305d.a3e2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":380,"wires":[]},{"id":"ad500107.84ccd","type":"mqtt in","z":"1e50305d.a3e2f","name":"","topic":"/mq135/ppm/section1","qos":"1","datatype":"utf8","broker":"53ab3d41.e551b4","x":160,"y":620,"wires":[["71657a33.78df04","75fb8365.f21b7c","6349519c.149d8","c4677a7f.25ce58"]]},{"id":"71657a33.78df04","type":"debug","z":"1e50305d.a3e2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":620,"wires":[]},{"id":"ea9014b0.4a60f8","type":"function","z":"1e50305d.a3e2f","name":"function counter","func":"var counter = flow.get(\"counter\")||0\n\nif((msg.payload ===\"entrance\")&&(counter<50)){\n    counter++\n}\nelse if((msg.payload===\"exit\")&&(counter>0)){\n    counter--\n}\nelse if(msg.payload===\"reset\"){\n    counter=0\n}\n\nflow.set(\"counter\",counter)\nmsg.payload = counter\n\nreturn msg","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["16906cdb.47ee93"]]},{"id":"75fb8365.f21b7c","type":"ui_gauge","z":"1e50305d.a3e2f","name":"","group":"6d8e7178.80df1","order":1,"width":0,"height":0,"gtype":"gage","title":"C02 Level","label":"ppm","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":680,"wires":[]},{"id":"6349519c.149d8","type":"ui_chart","z":"1e50305d.a3e2f","name":"","group":"6d8e7178.80df1","order":3,"width":0,"height":0,"label":"CO2 PPM Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":400,"y":740,"wires":[[]]},{"id":"8841e283.24f81","type":"file","z":"1e50305d.a3e2f","name":"","filename":"/home/pi/log/air-quality.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":540,"y":800,"wires":[[]]},{"id":"c4677a7f.25ce58","type":"function","z":"1e50305d.a3e2f","name":"set log","func":"var date = Date.now()\nmsg.payload = date+\"/mq135/ppm/section1/\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":800,"wires":[["8841e283.24f81"]]},{"id":"8789b2c7.02fe","type":"inject","z":"1e50305d.a3e2f","name":"","topic":"increment","payload":"entrance","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["5b80cf68.ef7c5"]]},{"id":"66a72d5.db653d4","type":"inject","z":"1e50305d.a3e2f","name":"","topic":"decrement","payload":"exit","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["6dd8eb5b.e78c74"]]},{"id":"6dd8eb5b.e78c74","type":"change","z":"1e50305d.a3e2f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"exit","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":400,"wires":[["ea9014b0.4a60f8"]]},{"id":"9c31fbca.8b4948","type":"inject","z":"1e50305d.a3e2f","name":"","topic":"reset","payload":"reset","payloadType":"str","repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":220,"wires":[["ea9014b0.4a60f8"]]},{"id":"8c4c2b02.d842f8","type":"mqtt in","z":"1e50305d.a3e2f","name":"","topic":"/mq135/ppm/section2","qos":"1","datatype":"utf8","broker":"53ab3d41.e551b4","x":120,"y":900,"wires":[["f9f8b236.a9e","47ea6a65.75a8f4","1f943d43.eddfd3","4b2406ca.28a528"]]},{"id":"f9f8b236.a9e","type":"debug","z":"1e50305d.a3e2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":900,"wires":[]},{"id":"47ea6a65.75a8f4","type":"ui_gauge","z":"1e50305d.a3e2f","name":"","group":"cb18c461.3ef6f8","order":1,"width":0,"height":0,"gtype":"gage","title":"C02 Level","label":"ppm","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":960,"wires":[]},{"id":"1f943d43.eddfd3","type":"ui_chart","z":"1e50305d.a3e2f","name":"","group":"cb18c461.3ef6f8","order":3,"width":0,"height":0,"label":"CO2 PPM Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":360,"y":1020,"wires":[[]]},{"id":"3009c8d1.bf5dc8","type":"file","z":"1e50305d.a3e2f","name":"","filename":"/home/pi/log/air-quality.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":520,"y":1080,"wires":[[]]},{"id":"4b2406ca.28a528","type":"function","z":"1e50305d.a3e2f","name":"set log","func":"var date = Date.now()\nmsg.payload = date+\"/mq135/ppm/section2/\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1080,"wires":[["3009c8d1.bf5dc8"]]},{"id":"1559b6a5.733539","type":"function","z":"1e50305d.a3e2f","name":"function total counter","func":"var total= flow.get(\"total\")||0\n\nif(msg.payload ===\"entrance\"){\n    total++\n}\nelse if(msg.payload ===\"reset\"){\n    total=0\n}\n\nflow.set(\"total\",total)\nmsg.payload = total\n\nreturn msg","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["5ab2d5fc.8eb6dc"]]},{"id":"cfaf4709.1d8f28","type":"ui_template","z":"1e50305d.a3e2f","group":"ba957629.2b4f28","name":"Counter Widget","order":3,"width":"7","height":"6","format":"<div style=\"text-align:center;\">\n<h1>Total Customer Visited</h1>\n<br/>\n\n<font size={{msg.size}} > {{msg.payload}} </font>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":280,"wires":[[]]},{"id":"5ab2d5fc.8eb6dc","type":"function","z":"1e50305d.a3e2f","name":"add msg.size for font size","func":"msg.size = 80\nreturn msg","outputs":1,"noerr":0,"x":830,"y":280,"wires":[["cfaf4709.1d8f28","df6c20b5.6b4bf"]]},{"id":"df6c20b5.6b4bf","type":"debug","z":"1e50305d.a3e2f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":320,"wires":[]},{"id":"ba957629.2b4f28","type":"ui_group","z":"","name":"Counter","tab":"82aa9dd6.c514","order":1,"disp":true,"width":"7","collapse":false},{"id":"53ab3d41.e551b4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6d8e7178.80df1","type":"ui_group","z":"","name":"Vegetable Section","tab":"82aa9dd6.c514","order":2,"disp":true,"width":"6","collapse":false},{"id":"cb18c461.3ef6f8","type":"ui_group","z":"","name":"Instant Drink Section","tab":"82aa9dd6.c514","order":3,"disp":true,"width":"6","collapse":false},{"id":"82aa9dd6.c514","type":"ui_tab","z":"","name":"Shopping Mall Human Counter","icon":"Shopping Mall","disabled":false,"hidden":false}]
